html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

#parent {
    width: 50%;
    height: 60rem;
    margin-left: 25%;
    margin-top: 5rem;
    margin-right: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#div1, #div6 {
    background-color: #1ABC9C;
}
#div2, #div7 {
    background-color: #3498DB;
}

#div3, #div8 {
    background-color: #9B59B6;
}
#div4 {
    background-color: #E67E22;
}
#div5 {
    background-color: #E74C3C;
}
.enfant {
    width: 25%;
    height: 30rem;
}